.choice-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 100%;
  }
  
  .choice {
    width: 100%;
    min-width: 50px;
    height: 40px;
    padding-top: 8px;
    margin : 8px;
    text-align: center;
    box-shadow: 0 1px 5px var(--section-color-point);
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: var(--font-semi-bold);
    background-color: var(--text-color-mild);
    color: var(--section-color);
  }
  .choice-text{
    color: var(--section-color);
    font-weight: var(--font-semi-bold);
  }
  .selected {
    background-color: var(--section-color-point);
  }
  .selected-eraser {
    background-color: var(--section-color-point);
  }
  
  .selected p {
    color: var(--section-color);
  }
  
  .noSelect {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .noSelect:focus {
      outline: none !important;
  }
  