/* 
.post__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post__image{
    width: 450px;
    height: 450px;
} */
.post__content {
    padding: 3rem 3rem 1.5rem 1.5rem;
    row-gap: 3rem;
}

.post__data {
    display: grid;
    grid-template-columns: 4fr 9fr;
    /* border: 1px solid var(--text-color-mild); */
}

.post__title {
    cursor: pointer;
    display: flex;
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: 18px;
}
.post__title:hover{
    transform: translate(0.25rem);
}
.post__story{
    font-size: var(--small-font-size);
}
.post__image {
    width: 85%;
    height: 120px;
    border-radius: 12px;
    border: 2px solid var(--section-color-point);
    justify-self: center;
    align-self: center;
    object-fit: fill;
    filter: brightness(0.8);
}

.post__image:hover{
    background-color: var(--section-color-point);
    transform: scale(1.05);

}
.post__description{
    align-self: center;
}
.post__stack {
    text-align: justify;
}

.post__stack {
    margin-bottom: .5rem;
}

.tags li {
    display: inline-block;
    margin-right: 0.3rem;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 1px 4px var(--container-color-point);
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    color: var(--container-color);
    background-color: var(--text-color);
    margin-bottom: 1rem;
}

.modal-section {

    margin-left: auto;
    margin-right: auto;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-container {
    width: 80%;
    height: 90%;
    border-radius: 12px;
    background-color: var(--section-color);
    box-shadow: var(--section-color-point) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal__header {
    display: grid;
    justify-items: center;
}

.modal-container .modal-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modal-close-btn-container {
    display: flex;
    justify-content: flex-end;
}

.modal-close-btn-container button {
    background-color: transparent;
    border: none;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.modal-container .modal-body {
    display: contents;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: var(--small-font-size);
    text-align: justify;
}
.modal-container .modal-body .links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}
.modal__description{
    padding: .3rem 3rem 0 3rem;
}
.links .a {
    color: white;
}

.modal-container .modal-footer {
    flex: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: var(--small-font-size);
    border-radius: 12px;
    padding: 1rem 2rem;
    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    justify-content: center;
    align-items: center;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
}
.swiper-slide img {
    margin: .8rem;
    border-radius: 12px;
    width: 60%;
    height: 75%;
    justify-self: center;
    object-fit: fill;
}
.modal-body .modal__image {
    margin: .8rem;
    border-radius: 12px;
    width: 50%;
    height: 55%;
    justify-self: center;
    align-self: center;
    object-fit: fill;
}
.video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swal__Custom{
    border-radius: 12px;
    color: var(--text-color);
    background-color: white;
}
.swal2-styled.swal2-cancel{
    border-radius: 12px;
    color: white;
  }

.swal2-styled.swal2-confirm{
    border-radius: 12px;
    color: white;
  }
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

    .swiper-slide img {
        width: 70%;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .modal-container {
        height: 80%;
        width: 90%;
    }
    .swiper-slide img {
        width: 70%;
        height: 75%;
    }
}

@media screen and (max-width: 576px) {
    .swiper-slide img {
        width: 80%;
        height: 60%;
    }
    .post__content {
        row-gap: 1rem;
        width: 95%;
        padding: 0.4rem 0 0;
        margin-inline: auto;
    }

    .post__data {
        grid-template-columns: 1fr;
        margin-bottom: var(--mb-2-5);
    }
    .post__image {
        width: 100%;
        height: 150px;
    }
    
    .tags li {
        margin-right: 0.3rem;
        font-size: var(--tiny-font-size);
        padding: 0.2rem 0.4rem;
    }
    .modal__description{
        padding: .3rem 1rem 0 1rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {}

/* For tiny devices */
@media screen and (max-width: 280px) {}