/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  --huelight: 200;
  --satlight: 50%;
  --huedark: 210;
  --satdark: 75%;
  /*========== Font and typography ==========*/
  --body-font: "Josefin Sans", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --medium-font-size: 1.75rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1.1rem;
  --small-font-size: 0.975rem;
  --smaller-font-size: 0.913rem;
  --tiny-font-size: 0.725rem;
  --tinier-font-size: 0.525rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.6rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== Variables Dark theme ===============*/
#light{
  --hue: var(--huelight);
  --sat: var(--satlight);
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color-mild: hsl(var(--hue), var(--sat), 65%);
  --text-color: hsl(var(--hue), var(--sat), 20%);
  --text-color-dark: hsl(var(--hue), var(--sat), 15%);
  --container-color: hsl(var(--hue), var(--sat), 96%);
  --body-color: hsl(var(--hue), var(--sat), 96%);
  --swal-color : hsl(var(--hue), var(--sat), 91%);
  --section-color : hsl(var(--hue), var(--sat), 96%);
  --section-color-accentuate : hsl(var(--hue), var(--sat), 90%);
  --section-color-point : hsl(var(--hue), var(--sat), 35%);
  --button-color: hsl(var(--hue), var(--sat), 20%);
  --button-text-color: hsl(var(--hue), var(--sat), 96%);
  --button-color-hover: hsl(var(--hue), var(--sat), 10%);
  --button-text-color-hover: hsl(var(--hue), var(--sat), 96%);

  
}
#dark {
  /*Dark Color mode HSL(hue, saturation, lightness)*/
  --hue: var(--huedark);
  --sat: var(--satdark);
  --title-color: hsl(var(--hue), 8%, 85%);
  --title-color-dark: hsl(var(--hue), var(--sat), 50%);
  --text-color: hsl(var(--hue), 8%, 85%);
  --text-color-dark: hsl(var(--hue), 8%, 70%);
  --text-color-mild: hsl(var(--hue), 8%, 30%);
  --body-color: hsl(var(--hue), var(--sat), 10%);
  --container-color: hsl(var(--hue), var(--sat), 10%);
  --swal-color : hsl(var(--hue), var(--sat), 85%);
  --section-color : hsl(var(--hue), var(--sat), 10%);
  --section-color-accentuate : hsl(var(--hue), var(--sat), 15%);
  --section-color-point : rgb(64, 249, 194);
  --button-color: hsl(var(--hue), 8%, 85%);
  --button-text-color: hsl(var(--hue), var(--sat), 10%);
  --button-color-hover: hsl(var(--hue), 8%, 100%);
  --button-text-color-hover: hsl(var(--hue), var(--sat), 10%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 9rem 0 9rem;
  background-color: var(--section-color);
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: 4rem;
  color: var(--text-color);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}

.button__icon {
  margin-left: var(--mb-0-5);
  color: var(--text-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* .App{
  background-color: var(--container-color);
  align-items: center;
} */
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-0-5);
  }
}

@media screen and (max-width: 576px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 5rem 1rem 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
  .button--flex{
    width: auto;
  }
}

/* For small devices */
@media screen and (max-width: 435px) {
  :root {
    --big-font-size: 2.25rem;
  }
}

/* For tiny devices */
@media screen and (max-width: 280px) {
  :root {
    --big-font-size: 1.5rem;
  }
}